listen              1935;
max_connections     1000;
daemon              off;
srs_log_tank        console;

http_api {
    enabled         on;
    listen          1985;
    crossdomain     off;
    auth {
        enabled     on;
        username    __SRS_HTTP_API_USERNAME__;
        password    __SRS_HTTP_API_PASSWORD__;
    }
}

http_server {
    enabled         on;
    listen          8080;
    dir             ./objs/nginx/html;
}

srt_server {
    enabled         on;
    listen          10080;
    passphrase      __SRS_SRT_PASSPHRASE__;
    pbkeylen        __SRS_SRT_PBKEYLEN__;
    tsbpdmode       on;
    latency         200;
    recvlatency     200;
    peerlatency     200;
    tlpkdrop        on;
}

rtc_server {
    enabled         on;
    listen          8000;
    candidate       172.16.32.52;
}

stats {
    network         0;
    disk            sda sdb xvda xvdb;
}

vhost __defaultVhost__ {
    http_hooks {
        enabled     on;
        on_publish  __SRS_HOOK_ON_PUBLISH_URL__;
        on_play     __SRS_HOOK_ON_PLAY_URL__;
    }

    srt {
        enabled     on;
        srt_to_rtmp on;
    }

    http_remux {
        enabled     on;
        mount       [vhost]/[app]/[stream].flv;
    }

    hls {
        enabled     on;
        hls_fragment 4;
        hls_window   20;
    }

    rtc {
        enabled     on;
        rtmp_to_rtc on;
        rtc_to_rtmp on;
    }
}

vhost ab_rtmp_direct {
    http_hooks {
        enabled     on;
        on_publish  __SRS_HOOK_ON_PUBLISH_URL__;
        on_play     __SRS_HOOK_ON_PLAY_URL__;
    }

    srt {
        enabled     off;
        srt_to_rtmp off;
    }

    http_remux {
        enabled     on;
        mount       [vhost]/[app]/[stream].flv;
    }

    hls {
        enabled     on;
        hls_fragment 4;
        hls_window   20;
    }

    rtc {
        enabled     on;
        rtmp_to_rtc on;
        rtc_to_rtmp on;
    }
}
